.footer {
  width: 100%;
  background-color: #3f51b5;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;

  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 40px;
    color: #fff;

    div {
      margin-right: 3rem;
      box-sizing: border-box;

      ul {
        list-style: none;
        padding: 0;

        li {
          line-height: 2rem;
          overflow: hidden;
          text-overflow: ellipsis;

          a {
            font-size: 1.2rem;
            text-transform: capitalize;
            text-decoration: none;
            color: #fff;

            &:hover {
              color: #ff4081;
            }
          }
        }
      }
    }
  }
}
