<footer class="footer">
  <nav>
    <div>
      <ul>
        <li><a routerLink="/home">home</a></li>
        <li><a routerLink="/movie_popular">now playing</a></li>
        <li><a routerLink="/movie_top_rated">top rated</a></li>
        <li><a routerLink="/movie_upcoming">up coming</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a routerLink="/tv_airing-today">Airing Today</a></li>
        <li><a routerLink="/tv_on-air">On Air</a></li>
        <li><a routerLink="/tv_top-rated">Top Rated</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a routerLink="/popular_person">popular person</a></li>
        <li><a routerLink="/tv_top-rated">Top Rated</a></li>
        <li><a routerLink="/movie_popular">popular movie</a></li>
      </ul>
    </div>
  </nav>
</footer>
