<swiper-container slides-per-view="1" speed="500" navigation="true">
  <swiper-slide *ngFor="let item of data">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ item.title || item.original_name }}</mat-card-title>
        <mat-card-subtitle>{{
          item.release_date || item.first_air_date | date : "mediumDate"
        }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]="dataImg.originalImage(item.backdrop_path)"
        loading="lazy"
      />
      <mat-card-content>
        <p class="card-content">{{ item.overview }}</p>
      </mat-card-content>
    </mat-card>
  </swiper-slide>
</swiper-container>
