<div class="movie-page">
  <div class="banner">
    <div
      class="banner-img"
      [style]="{
        'background-image':
          'url(' + dataImg.originalImage(tv.backdrop_path) + ')'
      }"
    >
      <div class="banner-wrapper">
        <div class="banner-content">
          <div class="movie-poster">
            <div
              class="poster-content"
              [style]="{
                'background-image':
                  'url(' + dataImg.originalImage(tv.poster_path) + ')'
              }"
            ></div>
          </div>
          <div class="movie-content">
            <div class="movie-content-items">
              <div class="title">
                <h2 class="title-header">{{ tv.title }}</h2>
                <span class="date">{{
                  items.release_date | date : "shortDate"
                }}</span>
              </div>
              <div class="header-info">
                <h3 class="tagline">{{ tv.tagline }}</h3>
                <h3>Overview</h3>
                <div class="overview">
                  <p>{{ tv.overview }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-information">
    <div class="row">
      <div class="col-md-10">asdf</div>
      <div class="col-md-2">
        <div class="movie-info-2">
          <div>
            <strong>Status</strong>
            <p>{{ tv.status }}</p>
          </div>
          <div>
            <strong>Last Air Date</strong>
            <p>{{ tv.last_air_date | date : "shortDate" }}</p>
          </div>
          <div>
            <strong>Number Of Episodes </strong>
            <p>{{ tv.number_of_episodes }}</p>
          </div>
          <div>
            <strong>Number Of Seasons</strong>
            <p>{{ tv.number_of_seasons }}</p>
          </div>
          <div>
            <strong>TMDB</strong>
            <p>{{ tv.vote_average }}</p>
          </div>
          <div>
            <strong>Popularity</strong>
            <p>{{ tv.popularity }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
