<div class="banner">
  <swiper-container
    class="swiper-container"
    slides-per-view="1"
    speed="500"
    navigation="true"
    pagination="true"
  >
    <swiper-slide class="swiper-slide" *ngFor="let banner of bannerData">
      <div
        class="banner-img"
        [ngStyle]="{
          'background-image':
            'url(' + bannerImage.originalImage(banner.backdrop_path) + ')'
        }"
      >
        <div class="banner-image-shadow">
          <div class="banner-content">
            <div class="row">
              <div class="col-md-3">
                <img
                  [src]="bannerImage.originalImage(banner.poster_path)"
                  alt=""
                  class="banner-content-img"
                />
              </div>
              <div class="col-md-9">
                <div class="banner-content-info">
                  <div class="banner-description">
                    <h1 class="header">{{ banner.title }}</h1>
                    <p class="overview">{{ banner.overview }}</p>
                  </div>
                </div>
                <!--  -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
