.movie-page {
  margin: 20 0;

  &-wrapper {
    padding: 40px;

    .content {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &-header {
        text-align: center;
        font-size: 2.2rem;
        font-weight: 400;
        text-transform: capitalize;
      }

      .results {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .mat-card {
          margin: 1rem 1rem 1rem 0;
          width: 250px;

          .card-img {
            cursor: pointer;
            width: 100%;
            height: 375px;
            object-fit: cover;

            &:hover {
              opacity: 0.5;
            }
          }

          mat-card-content {
            padding: 1rem;

            .card-title {
              font-size: 1.2rem;
              font-weight: 500;
            }

            .card-subtitle {
              font-size: 0.85rem;
            }
          }
        }
      }
    }
  }
}

.loading {
  width: 100%;
  height: 100vh;
}
