.movie-list {
  margin: 3rem 0;

  .movie-list-wrapper {
    padding: 0 3rem;

    .movie-list-content {
      width: 100%;
      height: 225px;

      .slider-content {
        width: 150px;
        height: 225px;

        .image {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          background-size: cover;
          background-position: center;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }

        .slider-title {
          margin-top: 8px;
        }
      }
    }
  }
  .movie-list-header {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 500;
  }
}
