<div class="movie-list">
  <div class="movie-list-wrapper">
    <div class="movie-list-header">{{ title }}</div>
    <div class="movie-list-content">
      <swiper-container slides-per-view="11" speed="500" navigation="true">
        <swiper-slide *ngFor="let item of data" class="swiper-slide">
          <div class="slider-wrapper">
            <div class="slider-content">
              <div
                class="image"
                (click)="onClick(item)"
                [style]="{
                  'background-image':
                    'url(' +
                    dataImg.originalImage(
                      item.poster_path ||
                        item.backdrop_path ||
                        item.profile_path
                    ) +
                    ')'
                }"
              ></div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>
