<div class="movie-list">
  <div class="movie-list-wrapper">
    <div class="movie-list-header">{{ title + " " + type }}</div>
    <div class="movie-list-content">
      <swiper-container slides-per-view="11" speed="500" navigation="true">
        <swiper-slide *ngFor="let item of data" class="swiper-slide">
          <div class="slider-wrapper">
            <div class="slider-content">
              <img
                [src]="
                  dataImg.originalImage(
                    item.poster_path || item.backdrop_path || item.profile_path
                  )
                "
                [alt]="item.title || item.name"
                [title]="item.title || item.name"
                class="image"
                (click)="onClick(item)"
              />
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>
