<div class="person">
  <div class="container">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-4 left-side-column">
          <div class="image-content">
            <img
              [src]="dataImg.originalImage(person.profile_path)"
              [alt]="person.name"
              class="image"
            />
          </div>
          <div class="information">
            <h3>Personal Info</h3>
            <div class="personal-info">
              <div>
                <strong>Known For</strong>
                <p>{{ person.known_for_department }}</p>
              </div>

              <div>
                <strong>Birthday</strong>
                <p>{{ person.birthday | date : "longDate" }}</p>
              </div>
              <div>
                <strong>Place of Birth</strong>
                <p>{{ person.place_of_birth }}</p>
              </div>
              <div>
                <strong>Also Known As</strong>
                <ul *ngFor="let known of person.also_known_as; let index">
                  <li>{{ known }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-md-8 right-side-column">
          <section>
            <div class="title">
              <h2 class="title">{{ person.name }}</h2>
            </div>
          </section>
          <section class="full-wrapper">
            <h3>Biography</h3>
            <div class="biography">
              <p>{{ person.biography }}</p>
            </div>
          </section>
          <section class="acting">
            <div class="acting-wrapper">
              <h2 class="acting-header">Acting</h2>

              <table
                mat-table
                [dataSource]="movie_acting"
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="release_date">
                  <th mat-header-cell *matHeaderCellDef>Release Date</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.release_date | date : "YYYY" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef>Movie Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.title }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="character">
                  <th mat-header-cell *matHeaderCellDef>Character</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.character }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
