@import "../../scss/detail-page.scss";

.no-results {
  width: 100%;
  height: 73.1vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  text-transform: capitalize;
}
